<div *ngFor="let stock of stocks; index as i; trackBy: trackStockByCode">

  <div class="stock-container" *ngIf="stock.name.indexOf('KLSE') >= 0">
    <div class="name">
      {{stock.name + ' (' + stock.code + ')'}}
    </div>

    <div [ngSwitch]="stock.getCategory()">
      <p *ngSwitchCase="'cheap'">{{actions[0]}}</p>
      <p *ngSwitchCase="'medium'">{{actions[1]}}</p>
      <p *ngSwitchCase="'expensive'">{{actions[2]}}</p>
    </div>

    <div class="price" 
      [class]="stock.isPositiveChange() ? 'positive' : 'negative'">
      $ {{stock.price}}
    </div>

    <button (click)="toggleFavorite($event, i)" 
      [disabled]="stock.favorite">
      Add to Favorite
    </button>
  </div>
</div>